.main {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
}

.main span {
  max-width: 300px;
  overflow: auto;
  white-space: nowrap;
}

.audio {
  display: flex;
  flex-flow: column;
  gap: 5px;
}
