.main {
  align-items: center;
  background-color: #023031;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-between;
  padding: 10px;
}

.main span {
  color: white;
  font-weight: 700;
  height: 40px;
  overflow: auto;
}

.audio {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.main label {
  color: white;
}
