.main {
  background-color: var(--secondary-color);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  justify-content: space-between;
  padding: calc(var(--padding) / 2);
}

.info {
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.main span {
  color: var(--primary-text-color);
  overflow: auto;
}

.main img {
  border-radius: 5px;
}

.audio {
  align-items: center;
  justify-content: space-between;
  display: flex;
  gap: calc(var(--gap) / 2);
}

.audio input {
  display: none;
}

.main label {
  color: var(--primary-text-color);
}

@media (max-width: 800px) {
  .main {
    flex-direction: column;
  }
}
