.form_control {
  display: flex;
  flex-direction: column;
}

.form_control label {
  font-weight: 700;
  margin-bottom: 0.6em;
}

.form_control input {
  border: none;
  border-bottom: 1px solid #7b7b7b;
  border-radius: 0;
  padding: 0.7em;
}

.form_control input::placeholder {
  color: #7b7b7b;
}
