@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Montserrat:wght@400;700&display=swap');

* {
  border: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
  font-size: var(--medium-font-size);
  list-style-type: none;
  margin: 0;
  color: var(--primary-text-color);
  padding: 0;
  text-decoration: none;
}

:root {

  --bg-color: #14120D;

  --theme: #BABAF6;

  --primary-color: #0a0907;

  --secondary-color: #1f1d17;

  --primary-text-color: #FEFAF1;

  --shadow-color: #0e0d09;

  --main-font: 'Josefin Sans' , sans-serif;

  --title-font: 'Montserrat' , sans-serif;

  --medium-font-size: clamp(16px, calc(0.3rem + 1vw), 40px);

  --gap: clamp(10px, 1.5vw, 40px);

  --padding: clamp(20px, 2vw, 50px);

  --cardSize: clamp(250px, 10vw, 500px);
}

h1 {
  font-family: var(--title-font);
  font-size: var(--large-font-size);
}

h2, h3 {
  font-family: var(--title-font);
  font-size: var(--medium-font-size);
}

input[type="checkbox"] {
  visibility: hidden;
}

body {
  background-color: var(--bg-color);
}
