.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.theme {
  color: var(--theme);
}

.albums {
  display: flex;
  flex-flow: row wrap;
  gap: 2em;
  justify-content: center;
}

.album {
  background-color: var(--bg-color);
  border-radius: 5px;
  box-shadow: var(--shadow-color) 0px 8px 24px;
  display: flex;
  flex-flow: column;
  width: var(--cardSize);
  transition: 0.4s;
}

.description_section {
  display: flex;
  flex-direction: column;
  padding: calc(var(--padding) / 2);
}

.album:hover {
  transform: scale(1.05);
}

.album span {
  max-height: 50px;
  max-width: fit-content;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.album_artist {
  color: var(--primary-text-color);
  font-size: small;
  height: 2.1em;
}

.album_name {
  color: var(--theme);
  font-size: medium;
}

.album img {
  border-radius: 5px 5px 0px 0px;
  height: var(--cardSize);
  width: var(--cardSize);
}

a {
  color: var(--primary-text-color);
  text-decoration: none;
}
